# Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Python venvs
.venv/
.venv311/

# Large model files
inat_models/*.tflite
